{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <h1>Productos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre_prod</th>
                <td>{{ producto.nombreProd }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ producto.cantidad }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ producto.genero }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ producto.descuento }}</td>
            </tr>
            <tr>
                <th>Talla</th>
                <td>{{ producto.talla }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ producto.tipo }}</td>
            </tr>
            <tr>
                <th>Fotoprod</th>
                <td>{{ producto.fotoprod }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_productos_index') }}">back to list</a>

    <a href="{{ path('app_productos_edit', {'id': producto.id}) }}">edit</a>

    {{ include('productos/_delete_form.html.twig') }}
{% endblock %}
